## Self Case Study-1_Pump it up-Data Mining the Water Table

### 1. Defining the Problem

Tanzania faces a major water crisis. Millions lack access to clean drinking water due to limited freshwater sources and malfunctioning water points. This lack of safe water has severe consequences, including health risks, decreased quality of life, and even death for children. The Tanzanian government is working to improve sanitation, but better water resource management is crucial for the country's future.

### 1.1Tanzania faces a critical challenge:

Millions of people lack access to safe drinking water due to malfunctioning water points. This project aims to leverage machine learning to predict the functionality of water points, helping prioritize maintenance and ensure clean water reaches communities across the country. By analyzing data on factors like pump type, installation age, location, and management practices, we can build a model to classify water points into three categories: functional, needing repair, or non-functional. This information can empower authorities to:

### 1.2Target Maintenance Efforts: 

Prioritize repairs for water points most at risk of failure, ensuring efficient resource allocation and minimizing downtime.
Preventative Maintenance: Identify pumps nearing the end of their lifespan or susceptible to breakdowns based on historical data, prompting proactive maintenance to avoid service disruptions.

### 1.3Improve Resource Management:

Gain insights into factors affecting water point functionality, informing strategies for pump selection, installation practices, and long-term management approaches.

By harnessing the power of machine learning, we can move beyond reactive repairs and towards a proactive approach to ensuring clean water security for Tanzania's population. This project tackles the critical business problem of water scarcity by predicting water point functionality, ultimately contributing to improved public health and well-being.

### 1.4 Our project will be successful if we can accurately predict whether a water point is:

a. Fully Functional: The water point is operational and delivers clean water without any current repairs needed.
    
b. Partially Functional (Needs Repair): The water point is currently operational, but there are potential issues requiring repairs to ensure continued functionality.

c. Non-Functional: The water point is completely out of service and requires repairs to provide clean water again.

### 2.0 Importing libraries

In [1]:
# Importing necessary packages for data analysis, visualization, and machine learning

import matplotlib.pyplot as plt
from matplotlib import style
import seaborn as sns  # For advanced data visualization
import pandas as pd    # For data manipulation and analysis
import numpy as np     # For numerical computations
from sklearn.model_selection import train_test_split  # For splitting data
from sklearn.svm import LinearSVC  # For linear support vector machines
from sklearn.model_selection import GridSearchCV, RandomizedSearchCV  # For hyperparameter tuning
from sklearn.pipeline import Pipeline   # For creating a pipeline of data processing and models
from sklearn.preprocessing import StandardScaler  # For data standardization
from sklearn.ensemble import RandomForestClassifier  # For random forest classification
from sklearn.ensemble import GradientBoostingClassifier  # For gradient boosting classification
from datetime import datetime  
import warnings

warnings.filterwarnings("ignore")  # Suppress warnings

In [2]:
#load data set
train = pd.read_csv('test doc.csv')
test = pd.read_csv('test doc 2.csv')
data = pd.read_csv('test doc 3.csv')

In [3]:
test.shape

(14850, 40)

In [4]:
test.head()

,id,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,...,payment_type,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group
0,50785,0.0,2/4/2013,Dmdd,1996,DMDD,35.290799,-4.059696,Dinamu Secondary School,0,...,never pay,soft,good,seasonal,seasonal,rainwater harvesting,rainwater harvesting,surface,other,other
1,51630,0.0,2/4/2013,Government Of Tanzania,1569,DWE,36.656709,-3.309214,Kimnyak,0,...,never pay,soft,good,insufficient,insufficient,spring,spring,groundwater,communal standpipe,communal standpipe
2,17168,0.0,2/1/2013,NaN,1567,NaN,34.767863,-5.004344,Puma Secondary,0,...,never pay,soft,good,insufficient,insufficient,rainwater harvesting,rainwater harvesting,surface,other,other
3,45559,0.0,1/22/2013,Finn Water,267,FINN WATER,38.058046,-9.418672,Kwa Mzee Pange,0,...,unknown,soft,good,dry,dry,shallow well,shallow well,groundwater,other,other
4,49871,500.0,3/27/2013,Bruder,1260,BRUDER,35.006123,-10.950412,Kwa Mzee Turuka,0,...,monthly,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe

In [5]:
train.shape

(59400, 40)

In [6]:
train.head()

,id,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,...,payment_type,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group
0,69572,6000.0,3/14/2011,Roman,1390,Roman,34.938093,-9.856322,none,0,...,annually,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe
1,8776,0.0,3/6/2013,Grumeti,1399,GRUMETI,34.698766,-2.147466,Zahanati,0,...,never pay,soft,good,insufficient,insufficient,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe
2,34310,25.0,2/25/2013,Lottery Club,686,World vision,37.460664,-3.821329,Kwa Mahundi,0,...,per bucket,soft,good,enough,enough,dam,dam,surface,communal standpipe multiple,communal standpipe
3,67743,0.0,1/28/2013,Unicef,263,UNICEF,38.486161,-11.155298,Zahanati Ya Nanyumbu,0,...,never pay,soft,good,dry,dry,machine dbh,borehole,groundwater,communal standpipe multiple,communal standpipe
4,19728,0.0,7/13/2011,Action In A,0,Artisan,31.130847,-1.825359,Shuleni,0,...,never pay,soft,good,seasonal,seasonal,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe

In [7]:
data.shape

(59400, 2)

In [8]:
data.head()

      id    status_group
0  69572      functional
1   8776      functional
2  34310      functional
3  67743  non functional
4  19728      functional

### 2.1 Merging the data

In [9]:
train_data = train.merge(data,on='id',how='inner')

In [10]:
df = pd.concat([train_data, test])
df.head()

,id,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,...,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group,status_group
0,69572,6000.0,3/14/2011,Roman,1390,Roman,34.938093,-9.856322,none,0,...,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe,functional
1,8776,0.0,3/6/2013,Grumeti,1399,GRUMETI,34.698766,-2.147466,Zahanati,0,...,soft,good,insufficient,insufficient,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe,functional
2,34310,25.0,2/25/2013,Lottery Club,686,World vision,37.460664,-3.821329,Kwa Mahundi,0,...,soft,good,enough,enough,dam,dam,surface,communal standpipe multiple,communal standpipe,functional
3,67743,0.0,1/28/2013,Unicef,263,UNICEF,38.486161,-11.155298,Zahanati Ya Nanyumbu,0,...,soft,good,dry,dry,machine dbh,borehole,groundwater,communal standpipe multiple,communal standpipe,non functional
4,19728,0.0,7/13/2011,Action In A,0,Artisan,31.130847,-1.825359,Shuleni,0,...,soft,good,seasonal,seasonal,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe,functional

In [11]:
df.shape()

TypeError: 'tuple' object is not callable

### 2.2 Understanding the columns of the merged dataset

In [ ]:
print('Number of data points : ', df.shape[0])
print('Number of features : ', df.shape[1])
print('Features : ', df.columns.values)
df.head()

In [ ]:
df.shape

In [ ]:
df.info()

In [ ]:
df.describe()

In [ ]:
pd.options.display.max_columns=190 #for reading all columns

In [ ]:
#checking for colum names
df.columns

In [ ]:
def check_value_counts(data):
  for column in data.columns:
    print(f'value counts for {column}')
    print(data[column].value_counts())
    print('------------------------------------------','\n')

check_value_counts(df)

The data doesn't have any data inconsistencies.

In [ ]:
df.isnull().sum()

### Explore outliers

In [ ]:
def check_outliers(data, columns):
    fig, axes = plt.subplots(nrows=len(columns), ncols=1, figsize=(20,10))
    for i, column in enumerate(columns):
        # Use interquartile range (IQR) to find outliers for the specified column
        q1 = data[column].quantile(0.25)
        q3 = data[column].quantile(0.75)
        iqr = q3 - q1
        print("IQR for {} column: {}".format(column, iqr))

        # Determine the outliers based on the IQR
        outliers = (data[column] < q1 - 1.5 * iqr) | (data[column] > q3 + 1.5 * iqr)
        print("Number of outliers in {} column: {}".format(column, outliers.sum()))

        # Create a box plot to visualize the distribution of the specified column
        sns.boxplot(data=data, x=column, ax=axes[i])
    plt.show()


num=df.select_dtypes('number')
columns=num.columns
check_outliers(df, columns)

The data has outliers but we won't remove them because that information could be useful for prediction

 ### Univariate EDA

In [ ]:
# Descriptive statistics for all numerical columns
df.describe()

### Bivariate EDA

In [ ]:
# Scatter plot 
sns.scatterplot(x='population', y='water_/_person', data=df)
plt.title('Water per Person vs Population')
plt.show()

# Boxplots by category 
sns.boxplot(
    x = "region_code",
    y = "amount_tsh",
    showmeans=True,  # Show mean as a horizontal line in the box
    data=df
)
plt.title('Amount TSH by Region Code')
plt.xticks(rotation=45)  # Rotate x-axis labels for readability
plt.show()

In [ ]:
# let's get maximum and minimum values for latitude and longitude
BBox = ((
    df[df['longitude']!=0].longitude.min(),
    df.longitude.max(),      
    df.latitude.min(),
    df.latitude.max()
))
BBox

In [ ]:
#creating a crosstab 
crosstb=pd.crosstab(df.region,df.extraction_type_class)

#creating a bar plot
plt.figure(figsize=(34,30))
pl=crosstb.plot(kind="bar",stacked=True,rot=90)
plt.title("extraction mode in each region", fontsize=30)
plt.show(plt.figure(figsize=(4, 4)))

In [ ]:

#creating a crosstab 
crosstb=pd.crosstab(df.region,df.payment_type)

#creating a bar plot
plt.figure(figsize=(30,25))
pl=crosstb.plot(kind="bar",stacked=True,rot=90)
plt.title("payment criteria per region", fontsize=30)
plt.show(plt.figure(figsize=(4, 4)))

In [ ]:
df.head()

Scatter Plots:  scatter plots to explore relationships between pairs of numerical variables. Look for patterns like positive or negative correlations, linear or non-linear relationships.

Boxplots by Category: boxplots of numerical variables grouped by categorical variables to see how the distribution of the numerical variable changes across categories.

### Correlation Matrix

### Transforming Categorical Variables

In [ ]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
df['construction_year_category'] = le.fit_transform(df['construction_year'])

Label Encoding: For categorical variables with ordered levels (e.g., low, medium, high), use label encoding to convert them to numerical values (e.g., 1, 2, 3).

In [ ]:
from sklearn.preprocessing import OneHotEncoder

encoder = OneHotEncoder(sparse=False)
df_encoded = pd.concat([df, pd.DataFrame(encoder.fit_transform(df[['region_code']]))], axis=1)
df_encoded.drop('region_code', axis=1, inplace=True)

One-Hot Encoding: For categorical variables with unordered levels (e.g., region names), use one-hot encoding to create new binary features for each category

In [ ]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

# Transform categorical variables (replace with your columns)
categorical_cols = ['construction_year', 'region_code']

# Label Encoding for ordered categorical variables
for col in categorical_cols:
  if df[col].dtypes == 'object' and df[col].nunique() < 10:  # Check for ordered categories and less than 10 unique values
    le = LabelEncoder()
    df[col + '_category'] = le.fit_transform(df[col])
    df.drop(col, axis=1, inplace=True)  # Remove original column

# One-Hot Encoding for unordered categorical variables
encoder = OneHotEncoder(sparse=False)
df_encoded = pd.concat([df, pd.DataFrame(encoder.fit_transform(df[categorical_cols]))], axis=1)
df = df_encoded.copy()  # Update df with encoded data

# Coding the data (your data is now ready for modeling)
print("Transformed and Encoded Data:")
print(df.head())

In [ ]:
BBox = ((
    df[df['longitude']!=0].longitude.min(),
    df.longitude.max(),      
    df.latitude.min(),
    df.latitude.max()
))

In [ ]:
srt_1=df.sort_values('region',ascending=False)

In [ ]:
srt_2=df.sort_values('management_group',ascending=False)

In [ ]:
df.head()

In [ ]:
df.columns

In [ ]:
# let's drop the status-group

df_status=df[['id', 'status_group']]
df_status.head()

In [ ]:
# for df
df['water_/_person'] = df['amount_tsh'].replace({0:1}) / df['population'].replace({0:1})

In [ ]:
def reverse_cardinality_check(n, df):

# this function will search the dataframe for features above the cardinality limit, 
# then create a dict from the results

  
  feature_list = []
  
  cardinality_value = []
  
  for _ in range(len(df.columns)):
    if len(df[df.columns[_]].value_counts()) > n:
      
      feature_list.append(df.columns[_])
      
      cardinality_value.append(len(df[df.columns[_]].value_counts()))
                               
        
  feature_dict = dict(zip(feature_list, cardinality_value))
  
  return feature_dict

In [ ]:

high_cardinality_feature_dict = reverse_cardinality_check(150, df)
high_cardinality_feature_dict

In [ ]:
def reverse_cardinality_check(n, df):

# this function will search the dataframe for features above the cardinality limit, 
# then create a dict from the results

  
  feature_list = []
  
  cardinality_value = []
  
  for _ in range(len(df.columns)):
    if len(df[df.columns[_]].value_counts()) > n:
      
      feature_list.append(df.columns[_])
      
      cardinality_value.append(len(df[df.columns[_]].value_counts()))
                               
        
  feature_dict = dict(zip(feature_list, cardinality_value))
  
  return feature_dict

In [ ]:
high_cardinality_feature_dict = reverse_cardinality_check(150, df)
high_cardinality_feature_dict

In [ ]:
# dataframe for high cardinality
high_cardinality_features = df[list(high_cardinality_feature_dict.keys())]
high_cardinality_features.columns

In [ ]:
# dataframe for low cardinality features
low_cardinality_features = df.drop(columns = list(high_cardinality_feature_dict.keys()))
low_cardinality_features.columns

In [ ]:
# Encoding the numerical columns
one_hot_encode = ce.OneHotEncoder(use_cat_names=True)
one_hot_encode.fit(low_cardinality_features)
low_cardinality_features = one_hot_encode.transform(low_cardinality_features)

ordinal_encode = ce.OrdinalEncoder()
ordinal_encode.fit(high_cardinality_features)
high_cardinality_features = ordinal_encode.transform(high_cardinality_features)

In [ ]:
high_cardinality_features.isnull().sum()

In [ ]:
# features = low_cardinality_features.concat(high_cardinality_features,on = low_cardinality_features.index)
frames =[low_cardinality_features, high_cardinality_features]

features = pd.concat(frames, axis = 1)

In [ ]:
# previewing the datatset
features.head()

In [ ]:
# let's make our imports
rcParams['figure.figsize'] = 30, 20

# let's visualize the data
gdf = geopandas.GeoDataFrame(df, geometry=geopandas.points_from_xy(df.longitude, df.latitude))

functional = gdf.where(gdf['status_group'] == 0)
repair = gdf.where(gdf['status_group'] == 2)
abandoned = gdf.where(gdf['status_group'] == 1)
broken = gdf.where(gdf['status_group'] == 3)



world = geopandas.read_file(geopandas.datasets.get_path('naturalearth_lowres'))

# We restrict to Africa
ax = world[world.continent == 'Africa'].plot(
    color='gray', edgecolor='black')

ax.scatter(functional['longitude'], functional['latitude'],
           c='green',alpha=.5, s=3)

ax.scatter(repair['longitude'], repair['latitude'],
           c='blue', alpha=.5, s=5)

ax.scatter(broken['longitude'], broken['latitude'],
           c='red', alpha=.5, s=5)
plt.title("Map of Pump Distributions, Green-Functional, Blue-Repair, Red-Broken", fontsize = 25)

plt.ylim(-12, 0)
plt.xlim(28,41)

plt.show()

In [ ]:
# Oversample and plot imbalanced dataset with SMOTE
# let's select our x and y variables
X = df.drop('status_group', axis = 1).astype(np.float64)
y = df['status_group']
# transform the dataset
oversample = SMOTE()
X, y = oversample.fit_resample(X, y)
# summarize distribution
counter = Counter(y)
for k,v in counter.items():
	per = v / len(y) * 100
	print('Class=%d, n=%d (%.3f%%)' % (k, v, per))
# plot the distribution
pyplot.bar(counter.keys(), counter.values())
pyplot.show()

### modelling

### Decision Tree Classifier

In [ ]:
# let's import decision trees classifier
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, shuffle = True, random_state=0)

model = tree.DecisionTreeClassifier()
model = model.fit(X_train, y_train)

predicted_value = model.predict(X_test)
print(predicted_value)
#%%
tree.plot_tree(model)

zeroes = 0
ones = 0
for i in range(0,len(y_train)):
    if y_train[i] == 0:
        zeroes +=1
    else:
        ones +=1
      
print(zeroes)
print(ones)

val = 1 - ((zeroes/70)*2 + (ones/70)*2)
print("Gini :-",val)
 
match = 0
UnMatch = 0
 
for i in range(30):
    if predicted_value[i] == y_test[i]:
        match += 1
    else:
        UnMatch += 1
         
accuracy = match/30
print("Accuracy is: ",accuracy)

### XG BOOST Classifier
Base Model

In [ ]:
# train test split
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size = 0.20, random_state = 0)

# training XGboost on the training
classifier = XGBClassifier()
classifier.fit(x_train, y_train)

In [ ]:
# Making the Confusion Matrix
y_pred = classifier.predict(x_test)
cm = confusion_matrix(y_test, y_pred)
print(cm)
accuracy_score(y_test, y_pred)

In [ ]:
# applying K-fold cross validation 
accuracies = cross_val_score(estimator = classifier, X = x_train, y = y_train, cv = 10)
print("Accuracy: {:.2f} %".format(accuracies.mean()*100))
print("Standard Deviation: {:.2f} %".format(accuracies.std()*100))

In [ ]:
# Initialize domain space for range of values
space={'max_depth': hp.quniform("max_depth", 0, 18, 1),
        'gamma': hp.uniform ('gamma', 0,9),
        'reg_alpha' : hp.quniform('reg_alpha', 0,10,1),
        'reg_lambda' : hp.uniform('reg_lambda', 0,10),
        'colsample_bytree' : hp.uniform('colsample_bytree', 0,1),
        'min_child_weight' : hp.quniform('min_child_weight', 0, 10, 1),
        'n_estimators': 100,
        'seed': 0

In [ ]:

# Objective function
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 0)
def objective(space):
    clf=xgb.XGBClassifier(
                    n_estimators =space['n_estimators'], max_depth = int(space['max_depth']), gamma = space['gamma'],
                    reg_alpha = int(space['reg_alpha']),min_child_weight=int(space['min_child_weight']),
                    colsample_bytree=int(space['colsample_bytree']))
    
    evaluation = [( X_train, y_train), ( X_test, y_test)]
    
    clf.fit(X_train, y_train,
            eval_set=evaluation, eval_metric="mlogloss",
            early_stopping_rounds=10,verbose=False)
    

    pred = clf.predict(X_test)
    accuracy = accuracy_score(y_test, pred)
    print ("SCORE:", accuracy)
    return {'loss': -accuracy, 'status': STATUS_OK }

In [ ]:
# Optimization algorithm 
trials = Trials()

best_hyperparams = fmin(fn = objective,
                        space = space,
                        algo = tpe.suggest,
                        max_evals = 100,
                        trials = trials)

In [ ]:

# Results
print("The best hyperparameters are : ","\n")
print(best_hyperparams)

## Tuned Model

In [ ]:

# Tuned Model
tuned_model = xgb.XGBRFClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, enable_categorical=False,
              gamma=0, gpu_id=-1, importance_type=None,
              interaction_constraints='', learning_rate=0.300000012,
              max_delta_step=0, max_depth=6, min_child_weight=1,
              monotone_constraints='()', n_estimators=100, n_jobs=8,
              num_parallel_tree=1, objective='multi:softprob', predictor='auto',
              random_state=0, reg_alpha=0, reg_lambda=1, scale_pos_weight=None,
              subsample=1, tree_method='exact', validate_parameters=1,
              verbosity=None)
    
# Lets fit the model
htuned_model = tuned_model.fit(X_train, y_train, verbose=False)

# Lets make predictions using the test dataset
tuned_predictions = htuned_model.predict(X_test)
 
# Lets check for accuracy
accuracy = accuracy_score(tuned_predictions,y_test)
accuracy

In [ ]:

# Calculating F1 Scores, precision & recall
precision = precision_recall_fscore_support(y_test, tuned_predictions, average='weighted')
precision